@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);
html, body{
  height: 100%;
}
.body{
color: #F2F6FF;
}
.notfound{
  min-height: 100vh;
  background-size: cover;
  background-color: #F2F6FF;
  position: relative;
  display: flex;
  flex-direction: column; }
.main-block { 
  min-height: 100vh;
  display: flex;
  padding-top: 150px;
}
.not__body {
  flex: 1 1 auto;
  max-width: 800px;
  padding: 0 15px;
  width: 100%;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.not__body img{
width: 60%;
margin: 0 auto;
}
.heading h1{
	margin-top: 20px; /* Отступ сверху */
	text-align: center;
	font-weight: 600;
	font-size: 36px;
	line-height: 49px;
	color: #054163;
	padding-bottom: 20px;
}
.heading p{
	font-weight: 400;
	font-size: 18px;
	line-height: 25px;
	color: #000;
}
.notfoundbtn-404{
	padding-top: 30px;
	padding-bottom: 30px;
}
.notfoundbtn {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  text-decoration: none;
  background: #00AAE1;
  color: #fff;
  border-radius: 5px;
  display: inline-block;
  padding: 20px 60px;
  font-weight: 600;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.notfoundbtn:hover {
  background: #35C4F2;
}
