
/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
  font-family:'Open Sans', sans-serif;
  src: url('../fonts/Open_Sans/OpenSans-Bold.ttf'); 
}

@font-face {
  font-family: 'Open Sans', sans-serif;
  src: url('../fonts/Open_Sans/OpenSans-Regular.ttf'); 
}

@font-face {
  font-family: 'Open Sans', sans-serif;
  src: url('../fonts/Open_Sans/OpenSans-SemiBold.ttf'); 
}

@font-face {
  font-family:'Open Sans', sans-serif;
  src: url('../fonts/Open_Sans/OpenSans-ExtraBold.ttf'); 
}
@font-face {
  font-family:'Open Sans', sans-serif;
  src: url('../fonts/Open_Sans/OpenSans-LightItalic.ttf'); 
}



/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/
.p-t-46 {
    padding-top: 20px;
}
* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}
html, body{
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}
.body{
  display: flex;
  flex-direction: column;
}
.container {
  max-width: 1400px;
  margin: 0px auto;
  padding: 0px 10px;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}
.header:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #054163;
  z-index: 2;
}
.header__body {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 120px;
  align-items: center;
}
.header__logo {
  margin-left: 20px;
  flex: 0 0 285px;
  z-index: 3;
}
.header__logo img{
  max-width: 100%;
}
.header__burger {
  display: none;
}
.header__menu {
  position: relative;
  display: flex;
}
.header__menu a.parent{
  margin: 0px 5px 0px 0px;

}

.header__list {
  display: flex;
  margin:14px 21px 0 20px;
}
.header__actions{
  z-index: 2;
  position: relative;
    display: flex;
flex-wrap: wrap;
}
.header__actions li{
  margin: 0 20px 0 0;
}
.header__list>li{
  margin: 0 20px 0 0;
  position: relative;
  z-index: 2;
  flex: 1 1 auto;
}
.polygon {
  display: none;
  position: absolute;
  right: 0px;
  top: 30px;
  width: 0;
  left: 90px;
  border-bottom: 6px solid #00aae1;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
}
.header__list>li:hover span {
  display: block;
}
.header__list>li:hover .sub-header__list{
  display: block;
}
.header__link {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
}
.header__link-1{
  font-size: 18px;
  font-weight: 600;
  padding-left: 10px;
  color: #fff;

}
.sub-menu__list {

}
.sub-header__list {
  display: none;
  width: 199px;
  position: absolute;
  left: 0;
  top: 16px;
  padding: 20px 0px 0px 0px;
}
.sub-header__list li{
  background-color: #00aae1;
}
.sub-header__list li:hover {
    background-color: #35c4f2;
  }
.sub-header__link {
display: inline-block;
padding: 10px 0px 10px 15px;
  font-size: 16px;
  font-weight: 600;
}
.menu__arrow {}
.arrow {
  position: absolute;
  right: 0px;
  top: 13px;
  width: 0;
  left: 203px;
  border-top: 6px solid #fff;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
}
.arrow.active{
  transform: rotate(-180deg);
}
body.mouse .menu__list>li:hover .sub-menu__list {
  display: block;
}
body.mouse .sub-menu__list>li:hover .sub-sub-menu__list {
  display: block;
}

body.touch .sub-menu__list.open{
  display: block;
}
body.touch .sub-sub-menu__list.open{
  display: block;
}
body.touch .arrow {
  display: block;
}

@media (max-width:767px){
  .wrapper{
    padding: 15px;
  }
  .menu__list {
    display: block;
  }
  .menu__list>li{
    margin: 0px 0px 10px 0px;
  }
  .sub-menu__list{
    position: relative;
    left: 0;
    top: 0;
  }
  .sub-sub-menu__list{
    padding: 0px 5px;
    position: relative;
    left: 0;
    top: 0;
  }
  .sub-menu__arrow.arrow {
    right: 10px;
    top: 0px;
    border-bottom: none;
    border-left: 10px solid transparent;
    border-top: 10px solid #000;
    border-right: 10px solid transparent;
  }
}
.header__menu a:hover{
  color: #fff;
}
.lang-menu {
    width: 70px;
    text-align: right;
    font-weight: 600;
    margin: 17px 20px 0px 0px;
    position: relative;
    z-index: 4;
}
.lang-menu .selected-lang {
    display: flex;   
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #fff;
}
.lang-menu .selected-lang:before {
    -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  border: none;
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 10px;
    background-image: url("../images/united-kingdom (1).png");
    background-size: contain;
    background-repeat: no-repeat;
  }
.lang-menu :hover.polygon_2{
  display: block;
}

.polygon_2 {
  display: none;
  position: absolute;
  right: 29.5px;
  top: 30px;
  width: 0;
  border-bottom: 6px solid #00aae1;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
}
.lang-menu ul {
    margin: 0;
    padding: 0;
    display: none;
    background-color: #00aae1;
    position: absolute;
    justify-content: center;
    border-radius: 5px;
    top: 35px;
    right: 0px;
    width: 70px;
}


.lang-menu ul li {
    list-style: none;
    text-align: left;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
}

.lang-menu ul li a {
  font-size: 16px;
  align-items: center;
  justify-content: center;
  align-self: center;
  text-align: center;
    text-decoration: none;
    width: 70px;
    padding: 5px 0px;
    display: block;
    color: #fff;
}

.lang-menu ul li:hover {
    background-color: #35c4f2;
}

.lang-menu ul li a:before {
    content: '';
    display: inline-block;
    width: 25px;
    height: 25px;
    vertical-align: middle;
    margin-right: 10px;
    background-size: contain;
    background-repeat: no-repeat;
}

.de:before {
    width: 25px;
    height: 25px;
    background-image: url("../images/germany.png");
}

.en:before {
    background-image: url("../images/united-kingdom (1).png");
}
.fr:before {
    width: 25px;
    height: 25px;
    background-image: url("../images/france.png");
}

.ar:before {
    background-image: url(https://www.countryflags.io/ae/flat/32.png);
}

.lang-menu:hover span{
    display: block;
}
.lang-menu:hover ul {
    display: block;
}
/* ==========================================================================
      MEDIA
========================================================================== */
@media (max-width: 1343px) {
    #top .body.lock{
    overflow: hidden;
  }
  .header__burger{
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
    margin-right: 20px;
  }
  .header__link-1 {
    padding-left: 0px;
}
.polygon{
  top: 52px;
}
.arrow {
  display: block;
   top: 28px;
}

.header__actions{
  display: flex;
  justify-content: center;
}
.header__actions li {
    margin: 0;
}
.btn-signup{
  display: flex;
  flex-wrap: wrap;
   width: 223px;
  justify-content: center;
}
.lang-menu{
  display: none;
}
.btn-login {
    display: none;
    visibility: hidden;
  }
  .header__burger span{
    position: absolute;
    background-color: #fff;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.3s ease 0s;
  }
  .header__burger:before,.header__burger:after{
    content: '';
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  .header__burger:before{
    top: 0;
    }
  .header__burger:after{
    bottom: 0;
  }
  .header__burger.active:before{
    transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active span{
    transform: scale(0);
  }
  .header__burger.active:after{
    transform: rotate(-45deg);
    bottom: 9px;
  }
  .header__menu {
    position: fixed;
    display: flex;
    text-align: center;
    flex-direction: column;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 150px 60px 20px ;
    transition: all 0.5s ease 0s;
  }
  .header__menu.active{
    top: 0;
  }
  .header__list {
  display: block;
  align-self: center;
}
  .header__list>li{
    align-self: center;
  max-width: 223px;
}
.header__list>li:not(:first-child){
  padding-top: 20px;
}
.sub-header__link {
    padding: 15px 0px;
  }
  .sub-header__list{
    position: relative;
    left: 0;
    top: 0;
  }
}
/*@media (min-width: 767px ){
.header__link {
    font-size: 32px;
    font-weight: 600;
}
.header__link-1  {
    font-size: 32px;
}
.header__list li {
    align-self: center;
    max-width: none;
}
.sub-header__list {
  width: 100%;
}
.arrow.active {
  top: 35px;
  left: 361px;
}
.polygon.active {
    top: 66.5px;
    left: 168px;
}
}*/
@media (max-width: 767px){
  .header__list>li{
    margin: 0px 0px 10px 0px;
  }
  .sub-header__list{
    position: relative;
    left: 0;
    top: 0;
  }
  .body.lock{
    overflow: hidden;
  }
  .header__burger{
    z-index: 3;
  }
  .header__body{
    height: 70px;
    align-items: center;
  }
  .header__logo {
  flex: 30px 0 20px 205px;
  margin-left: 20px;
  }
  .header__menu {
    padding: 120px 60px 20px;
    }
}
@media (max-width: 425px){
 .header__list {
  display: block;
  max-width: 250px;
  padding-top: 50px;
 }
  .header__burger{
    margin-right: 0px;
    z-index: 3;
  }
  .header__menu {
    padding: 50px 0px 20px ;
    text-align: center;
    margin: auto;
  }
}
/*---------------------------------------------*/
a {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
  color: #054163;
}
.btn-signup {
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  border-radius: 5px;
  display: inline-block;
  background-color:#00aae1;
  border-color:#00aae1;
  padding: 17px 30px 17px 30px;}

.btn-signup:hover, .btn-signup:focus {
  background-color: #35c4f2;
 }
 .btn-login {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  border-radius: 5px;
  display: inline-block;
  border: 2px solid;
  border-color:#00aae1;
  padding: 15px 36px 15px 36px;;
}

.btn-login:hover, .btn-login:focus {
  color: #ea366c;
 }
/*---------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
	margin: 0px;
}

p {
	font-family:'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
}

ul, li {
	margin: 0px;
	list-style-type: none;
}
.bg1,.bg2:hover{
    -webkit-filter: brightness(110%);
          filter: brightness(110%);
}

/*---------------------------------------------*/
input {
	outline: none;
	border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #999999;}
input:-moz-placeholder { color: #999999;}
input::-moz-placeholder { color: #999999;}
input:-ms-input-placeholder { color: #999999;}

textarea::-webkit-input-placeholder { color: #999999;}
textarea:-moz-placeholder { color: #999999;}
textarea::-moz-placeholder { color: #999999;}
textarea:-ms-input-placeholder { color: #999999;}


label {
  display: block;
  margin: 0;
}
/* The Close Button (x) */
.close {
    position: relative;
    top: 0;
    color: #989898;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #0aaae1;
    cursor: pointer;
}
/*---------------------------------------------*/
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}
.btn-signup{
    padding: 13px 30px 13px 30px;
}
.btn-login{
    padding: 12px 36px 12px 36px;
}
/*//////////////////////////////////////////////////////////////////
[ utility ]*/

/*==================================================================
[ Text ]*/
.txt1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #0AAAE1;
}

.txt2 {
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  font-weight: 300;
  font-size: 22px;
  line-height: 30px;
  color: #C5C5C5;
}
.txt2:before {
    left: -.5em;
    margin: 0 0 0 -50%;
}
.txt2:after {
    left: .5em;
    margin: 0 -50% 0 0;
}
.txt2:before,.txt2:after {
    content: "";
    position: relative;
    display: inline-block;
    width: 30%;
    height: 2px;
    vertical-align: middle;
    background: #C5C5C5;
    background-clip: content-box;
    border-bottom: 1px solid;
}
.text-center_1{
  display: block;
  position: relative;
  text-align: center; 
  padding-top: 15px;
}
.text-center_1 p{
font-weight: 400;
font-size: 16px;
line-height: 22px;
color: #989898;
}

/*==================================================================
[ Size ]*/
.size1 {
  width: 355px;
  max-width: 100%;
}

.size2 {
  width: calc(100% - 43px);
}

/*==================================================================
[ Background ]*/
.bg1 {background: #3b5999;
  font-family: Open Sans;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px}
.bg2 {background: #1da1f2;
  font-family: Open Sans;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px}
.bg3 {background: #cd201f;}


/*//////////////////////////////////////////////////////////////////
[ login ]*/
.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-login100 {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: #f2f2f2;
}


.wrap-login100 {
  width: 100%;
  margin-top: 120px;
  background: #F2F6FF;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  flex-direction: row-reverse;

}

/*==================================================================
[ login more ]*/
.login100-more {
  max-width: 750px;
  max-height: 100%;
  position: relative;
  padding-top: 63px;
  margin: auto;
  background-color: #F2F6FF;
  z-index: 1;
}
.login100-more img {
  max-width: 70%;
  margin: auto;
  margin-left: 15%;
}

.login100-more::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  right: 10%;
  left: 0;
  background: #F2F6FF;
}



/*==================================================================
[ Form ]*/

.login100-form {
  width: 560px;
  min-height: 100vh;
  display: block;
  background-color: #fff;
  padding: 63px 55px 55px 55px;
}

.login100-form-title {
  width: 100%;
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-size: 36px;
  font-weight: 700;
  color:#054163;
  line-height: 49px;
  text-align: center;
}



/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  width: 100%;
  height: 60px;
  position: relative;
  border: 1px solid #e6e6e6;
  border-radius: 10px;
  margin-bottom: 20px;
}

.label-input100 {
  font-family:'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #989898;
  line-height: 25px;

  display: block;
  position: absolute;
  pointer-events: none;
  width: 100%;
  padding-left: 24px;
  left: 0;
  top: 18px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input100 {
  display: block;
  width: 100%;
  background: transparent;
  font-family:'Open Sans', sans-serif;
  font-size: 18px;
  color: #555555;
  line-height: 1.2;
  padding: 0 26px;
}

input.input100 {
  height: 100%;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

/*---------------------------------------------*/

.focus-input100 {
  position: absolute;
  display: block;
  width:100%;
  height:100%;
  pointer-events: none;
  border: 1px solid #054163;
  border-radius: 5px;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

}

.input100:focus + .focus-input100 {
  visibility: visible;
  opacity: 1;

  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.eff-focus-selection {
  visibility: visible;
  opacity: 1;

  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.input100:focus {
  height: 48px;
}

.input100:focus + .focus-input100 + .label-input100 {
  top: 14px;
  font-size: 13px;
}

.has-val {
  height: 60px !important;
}

.has-val + .focus-input100 + .label-input100 {
display: none;
}

/*==================================================================
[ Restyle Checkbox ]*/

.input-checkbox100 {
  display: none;
}

.label-checkbox100 {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  color: #999999;
  line-height: 1.4;

  display: block;
  position: relative;
  padding-left: 26px;
  cursor: pointer;
}

.label-checkbox100::before {
  content: "\f00c";
  font-family: FontAwesome;
  font-size: 13px;
  color: transparent;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 2px;
  background: #fff;
  border: 1px solid #054163;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.input-checkbox100:checked + .label-checkbox100::before {
  color: #054163;
}


/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.login100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 50px;
  border-radius: 5px;
  background:#00aae1;

  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: #fff;
  line-height: 25px;
  font-weight: 700;
  letter-spacing: 1px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login100-form-btn:hover {
  background: #35C4F2;
}



/*------------------------------------------------------------------
[ Responsive ]*/
@media (max-width: 1024px) {
  .login100-more {
    width: 43%;
  }
}
@media (max-width: 992px) {
  .login100-form {
    width: 50%;
    padding-left: 30px;
    padding-right: 30px;
  }

  .login100-more {
    width: 50%;
  }
}
@media (max-width: 768px) {
  .login100-form {
    width: 100%;
  }
  .login100-more {
    display: none;
  }
.txt2:before,.txt2:after {
    width: 37.5%;
  }
}
@media (max-width: 576px) {
  .login100-form {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 100px;
  }
  .txt2:before,.txt2:after {
    width: 33.5%;
  }
}

@media (max-width: 425px){
  .txt2:before,.txt2:after {
    width: 28%;
  }
}
@media (max-width: 375px){
  .txt2:before,.txt2:after {
    width: 24.5%;
  }
}
@media (max-width: 320px){
  .txt2:before,.txt2:after {
    width: 20%;
  }
}
/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  z-index: 100;
  max-width: 70%;
  background-color: #fff;
  border: 1px solid #c80000;
  border-radius: 2px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 12px;
  pointer-events: none;

  font-family: 'Open Sans', sans-serif;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f12a";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  z-index: 110;
  color: #c80000;
  font-size: 16px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 18px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}
.login100-form-social-item a #text{
font-family: Open Sans;
font-weight: 600;
font-size: 18px;
line-height: 25px;
}


/*==================================================================
[ Social ]*/
.login100-form-social-item {
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  height: 50px;
  font-size: 18px;
  color: #fff;
  border-radius: 5px;
}

.login100-form-social-item:hover {
  background: #333333;
  color: #fff;
}
.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
}
.popup:target{
  opacity: 1;
  visibility: visible;
}
.popup__body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  padding: 30px 40px;
}
.popup__content {
  border-radius: 20px;
  background-color: #fff;
  max-width: 800px;
  padding: 30px 40px;
}
.popup__close {

}
.popup__title {
  width: 100%;
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-size: 36px;
  font-weight: 700;
  color:#054163;
  line-height: 49px;
  text-align: center;
  padding-bottom: 15px;
}
.popup__text {
  width: 100%;
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #989898;
  text-align: center;
  padding-bottom: 20px;
}

.validate-input {}
.wrap-input200 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  width: 80%;
  height: 60px;
  position: relative;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin-bottom: 10px;
  margin: auto;
}

.focus-input100 {}
.label-input100 {}
.container-login200-form-btn {
  width: 80%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  padding: 20px 0px;
}

.login100-form-btn {}
.text-center_1 {}
.txt1 {}
.text-center_2 {}
